.form__inner,
input[type="text"] {
  margin: auto;
  font-size: 18px;
  line-height: 18px;
  color: #323232;
}

.input-wrapper {
  height: 50px;
  background: linear-gradient(180deg, #F8F8F8 0%, rgba(243, 243, 243, 0) 100%, #F2F2F2 100%);
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 15px;
}

.fence-size__number {
  width: 230px;
}

.contact__number {
  width: 310px;
}

.fence-size__dimension {
  display: inline-block;
  padding-left: 14px;
  position: relative;
  width: 80px;
}

.fence-size__title {
  font-weight: normal;
  margin-bottom: 14px;
  margin-top: 30px;
}