.finish {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 490px;
  height: 330px;
  background: #FFFFFF;
  border: solid 1px #000000;
  position: relative;
}

.finish__title {
  text-align: center;
  height: 36px;
}

.finish__sentences {
  width: 402px;
  height: 144px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #323232;
}

.finish__first-sentence {
  top: 0px;
  margin-top: 39px;
  margin-bottom: 0px;
  width: 100%;
}

.finish__last-sentence {
  bottom: 0px;
  margin-top: 0px;
  margin-bottom: 32px;
}

.finish__close,
.prev-page {
  position: absolute;
  width: 54px;
  height: 15px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-decoration-line: underline;
  border: none;
  outline: none;
  cursor: pointer;
  top: -25px;
  background: transparent;
  color: #FFFFFF;
}

.finish__close {
  right: 0px;
}

.finish__mail {
  margin-top: 0px;
}

.finish__phone {
  margin-bottom: 0px;
}

.prev-page {
  left: 0px;
}

.back {
  position: absolute;
  background: transparent;
  cursor: pointer;
}

.important-data {
  color: #4892EC;
}