.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}