.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 490px;
  height: 645px;
  border: solid 1px #000000;
  background: #ffffff;
  margin: auto;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
}

.form__title {
  width: 100%;
  font-size: 30px;
  font-weight: normal;
  line-height: 41px;
  margin-bottom: 0px;
  margin-top: 39px;
  font-size: 30px;
  color: #323232;
  text-align: center;
}

.continue {
  width: 150px;
  height: 50px;
  left: 222px;
  top: 648px;
  cursor: pointer;
  background: linear-gradient(180deg, #818387 0%, #696B6F 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 54px;
}